/* ヘッダー */
header{
  width: 100%;
  padding: 10px 0;
}
.header_wrapper{
  max-width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_wrapper h1{
  width: auto;
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 34px;
}

.logo {
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

/*　本体　*/
body{
  letter-spacing: 0.1em;　/*文字間*/
  font-weight: 400;　/*文字の太さthin（100）、normal（400）、bold（700）*/
  -webkit-font-smoothing: antialiased;　/*Safariできれいに見せる*/
}

.container{
  display: flex;
  height: calc(100vh + 150px);
}

.cont{
  margin-bottom:20px;
  padding:30px;
  /*background:#f3f3f3;*/ 
}

.title{
  color: #333333;
  font-weight: bold;
  background-image: linear-gradient(transparent 60%, #68e0cf 0%);
  /*width: 30%;*/
  margin: 20px auto;
}

.left {
  width: 50vw;
  text-align: left;
}

.right {
  width: 50vw;
  margin-bottom:20px;
  background-image: url(../image/back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* レスポンシブ対応（768px以下） */
@media screen and (max-width:768px){

  /* ヘッダー */
  .header_wrapper{
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
  }
  .header_wrapper h1{
    width: auto;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 25px;
  }

  .logo {
    padding: 1rem 3rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
    background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
    background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
    font-size: small;
  }

  /*　本体　*/
  .left {
    width: 100%;
    font-size: 14px;
  }

  .right {
    width: 0vw;
    height: 150px;
  }
}
