body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
.container {
    text-align: center;
}

/* ========== エラーのスタイル ========== */
/* 
  .field-errors: このクラスセレクタは、エラーメッセージのスタイルを定義します。
  色は赤、マージンとパディングは0に設定されています。 
  パディング: パディングは要素の内側のスペースを指します。
  マージン: マージンは要素の外側のスペースを指します。
*/
.field-errors {
    color: red;
    margin: 0;
    padding: 0;
  }

.field-errors li {
list-style-type: none;
}

/* ========== ヘッダーのスタイル ========== */
/* 
  h1: h1見出しのスタイルを定義します。
  フォントサイズは2em、テキストは中央揃え、上下のマージンは1emに設定しています。
*/
h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 0 auto; 
    /* margin-top: 20px; */
}

/* ===== ラベル ===== */
label {
    display: block;
    margin: 0.5em;
}

/* ===== 入力エリア ===== */
input[type=text], input[type=password] {
    width: calc(100% - 20px);
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
/* input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
} */

/* ===== 送信ボタン ===== */

input[type=submit] {
    background-color: #209cff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
    /* margin-top: 1em; */
  }

input[type=submit]:hover {
    background-color: #68e0cf;
}

/* input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
} */
/* input[type="submit"]:hover {
    background-color: #45a049;
} */


a {
    display: block;
    margin-top: 20px;
    color: #209cff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* dt, dd {
    width: 100%;
} */