@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* タイトルロゴ */
.header_wrapper{
  max-width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_wrapper h1{
  width: auto;
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 34px;
}

.logo{
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

/*　本体　*/
body{
  letter-spacing: 0.1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container{
  display: flex;
}

.cont{
  margin-bottom:20px;
  padding:10px;
  font-family:'DotGothic16', sans-serif;
}

.title{
  color: #333333;
  font-weight: bold;
  background-image: linear-gradient(transparent 60%, #68e0cf 0%);
  margin: 10px auto;
}

.left {
  width: 50vw;
  text-align: left;
}

.right {
  width: 50vw;
  background-image: url(../images/memo/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
}

/* レスポンシブ対応（768px以下） */
@media screen and (max-width:768px){

  /* タイトルロゴ */
  .header_wrapper{
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
  }
  .header_wrapper h1{
    width: auto;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 25px;
  }

  .logo {
    padding: 1rem 3rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
    background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
    background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
    font-size: small;
  }

  /*　本体　*/
  .container{
    flex-direction: column;
  }

  .left {
    width: 100%;
    font-size: 14px;
  }

  .right {
    width: 100vw;
    min-height:40vh;
  }
}
