
body{
  letter-spacing: 0.1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* ヘッダー */
header{
  width: 100%;
  padding: 10px 0;
}
.header_wrapper{
  max-width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrapper h1{
  width: auto;
  display: flex;
  align-items: center;
}
.header_wrapper h1 a{
  display: block;
  color: #333;
  text-decoration: none;
  font-size: 34px;
}
.header_wrapper h1 span{
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  margin-left: 10px;
}
/* ナビゲーション */
.gnav{
  width: 100%;
  background-color: #333;
}
.gnav_wrapper{
  max-width: 980px;
  margin: auto;
  display: flex;
}
.gnav_wrapper li{
  border-left: #888 1px solid;
  text-align: center;
  width: calc(100%/3);  /* 画面幅３等分 */
  transition: all  0.3s ease; /* 変化をなめらかに */
}
.gnav_wrapper li:last-child{
  border-right: #888 1px solid;
}
.gnav_wrapper li:hover{
  background-color: #888;
}
.gnav_wrapper li a{
  display: block;
  padding: 1.3em 0;
  color: #fff;
  text-decoration: none;
}


h1 {
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}


    ul {
      display: flex;
      justify-content: space-around;
      text-align: center;
      list-style: none;
    }
    li {
      width: 45%;
    }
    img {
      width: 200px;
      height: 200px;
    }
    
    
 /* 桜を表示するコンテナのスタイル */
 .cherry-blossom-container {
    position: relative;
    height: 100vh; /* コンテナの高さ */
    width: 80%; /* コンテナの横幅  100%にするとホビーが反応しなくなる */
    overflow: hidden; /* コンテナからはみ出した要素を隠す */
  }
  
  /* 桜の花びらのスタイル */
  .petal {
    position: absolute;
    background-color: #ffc0cb; /* 花びらの色 */
    border-radius: 150% 0 150% 0;
    animation: animate-petal 10s linear;
  }
  
  .petal::after {
    content: "";
    position: absolute;
    top: -14%;
    left: -10%;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffc0cb;
    border-radius: 150% 0 150% 0;
    transform: rotate(15deg);
  }
  
  /* 花びらが降るアニメーション */
  @keyframes animate-petal {
    0% {
      top: 0;
      opacity: 0;
      transform: rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 100vh;
      transform: rotate(3000deg);
    }
  }