/*===== 画面全体 =====*/
body{
  letter-spacing: 0.1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.cont{
  width: 90%;
  margin: 0 auto;/* 中央寄せ */
}

.gamefont {
  font-family: "Monomaniac One", "Mochiy Pop P One", sans-serif;
  font-size: large;
  font-weight: 400;
  font-style: normal;
}

/*===== 画面の幅が小さければclass指定で折り返す処理 =====*/
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4px;
}

.item {
  height: 200px;
  padding: 24px;
}

/*===== ナビゲーションドロップダウン =====*/
/*=== ナビゲーション全体の設定 ===*/
nav{
  background:#333;
  color:#fff;
  text-align: center;
}
/* ナビゲーション横並びに */
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
/* 2階層目は横並びにしない */
nav ul ul{
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}
/*ナビゲーションのリンク設定*/
nav ul li a{
  display: block;
  text-decoration: none;
  color: #999;
  padding:20px 35px;
  transition:all .3s;
}
nav ul li li a{
  padding:10px 35px;
}
nav ul li a:hover{
  color:#fff;
  background-color: #888888;
  font-weight: bold;
}

/*=== 矢印の設定 ===*/

/* 2階層目を持つliの矢印の設定 */
nav ul li.gnav::before{
  content:'';
  position: absolute;
  left:15px;
  top:25px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
  border-right:2px solid #999;
  transform: rotate(135deg);
}


/*=== 2階層目の設定 ===*/

/*下の階層を持っているulの指定*/
nav li.gnav ul{
  margin: 0; /* デフォルトの余白をリセット */
  padding: 0; /* デフォルトの余白をリセット */
  position: absolute; /* 絶対配置で位置を指定 */
  left:0;
  top:62px;
  z-index: 4; /*形状を指定*/
  background:#209cff;
  width:180px;
  visibility: hidden;/*はじめは非表示*/
  opacity: 0;
  transition: all .3s;/*アニメーション設定*/
}

/*hoverしたら表示*/
nav li.gnav:hover > ul,
nav li.gnav ul li:hover > ul,
nav li.gnav:active > ul,
nav li.gnav ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.gnav ul li a{
  color: #fff;
  border-bottom:solid 1px rgba(255,255,255,0.6);
}

nav li.gnav ul li:last-child > a{
 border-bottom:none;
}

nav li.gnav ul li a:hover,
nav li.gnav ul li a:active{
  background:#68e0cf;
}

/*=== 768px以下 nav・gnav内 ===*/

@media screen and (max-width:768px){
  nav{
    padding: 0;
  }
  
  nav ul{
    display: block;
    margin: 0; /* デフォルトの余白をリセット */
    padding: 0; /* デフォルトの余白をリセット */
  }
  
  nav li.gnav ul,
  nav li.gnav ul ul{
  position: relative;
  left:0;
  top:0;
  width:100%;
  visibility:visible;/*JSで制御するため一旦表示*/
  opacity:1;/*JSで制御するため一旦表示*/
  display: none;/*JSのslidetoggleで表示させるため非表示に*/
  transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
  
nav ul li a{
  border-bottom:1px solid #ccc;
}

/*矢印の位置と向き*/

nav ul li.gnav::before{
  left:20px;  
}

nav ul ul li.gnav::before{
  transform: rotate(135deg);
  left:20px;
}
    
nav ul li.gnav.active::before{
    transform: rotate(-45deg);
}
}


/*===== レイアウトのためのCSS =====*/

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}

section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3; 
}
a{
  color: #333;
  text-decoration: none;
}

.lead{
  text-align: center;
  padding: 50px 20px;
}

img{
  width:200px;/* 画像差し替え後100%へ */
  height:200px;/* 画像差し替え後autoへ */
}


/* ヘッダー */
header{
  width: 100%;
  padding: 10px 0;
}
.header_background{
  width: 100%;
  height: 100%;
  background-image: url(../images/15puzzle/black.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header_wrapper{
  max-width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrapper h1{
  width: auto;
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 34px;
}

.header_wrapper h1 span{
  display: block;
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}

.logo {
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
}

/*=== 768px以下 wrapper・logo ===*/
@media screen and (max-width:768px){

  .header_wrapper{
    max-width: 1320px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: x-small;
  }
  .header_wrapper h1{
    width: auto;
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 25px;
  }

  .header_wrapper h1 span{
    display: block;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.5;
  }
  .logo {
    padding: 1rem 3rem;
    -webkit-transform: skew(-15deg);
    transform: skew(-15deg);
    background-image: -webkit-gradient(linear, left top, right top, from(#209cff), to(#68e0cf));
    background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
    background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
    font-size: small;
  }
}

/*=====　画像の拡大＋テキスト出現 zoomInText　=====*/

.zoomInText{ /* テキストの基点となる位置を定義 */
  position: relative;
}
.zoomInText span.mask{
  position: relative;
  transition: .3s ease-in-out; /* 移り変わる速さ */
  display: block; /* 画像spanタグをブロック要素に */
  line-height: 0; /* 行の高さを0にする */
  overflow:hidden; /* 拡大してはみ出る要素を隠す */
}

.zoomInText:hover span.mask::before{ /* hoverした時の変化 */
  content:"";
  position: absolute;
  z-index:2;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background:rgba(0,0,0,0.5); /* 背景色 */
}

.zoomInText img{
  transform: scale(1);
  filter: blur(0);
  transition: .3s ease-in-out; /* 移り変わる速さ */
}

.zoomInText:hover img{ /* hoverした時の変化 */
  transform: scale(1.2); /* 拡大の値 */
  filter: blur(2px); /* ぼかし具合 */
}

.zoomInText span.cap{
  opacity:0;
  transition: .5s ease-in-out; /* 移り変わる速さ */
  position: absolute;
  z-index:3; /* テキストを前面に出す*/
  top: 100px;
  left: 100px;
  transform: translate(-50%,-50%);
  color: #fff; /*テキストの色*/
  line-height: 1.5; /*行の高さ*/
}

.zoomInText:hover span.cap{ /*hoverした時の変化*/
  opacity:1;
}

/*　横幅　*/
.zoomInText{
  width: 200px;
  margin: 0 auto;/*中央揃え*/
}

/*=== 768px以下 非表示用 no_linkクラス ===*/
@media screen and (max-width:768px){
  .no_link{ display:none !important;}
}

 /* 桜を表示するコンテナのスタイル */
 .cherry-blossom-container {
    position: relative;
    height: 100vh; /* コンテナの高さ */
    width: 80%; /* コンテナの横幅  100%にするとホビーが反応しなくなる */
    overflow: hidden; /* コンテナからはみ出した要素を隠す */
  }
  
  /* 桜の花びらのスタイル */
  .petal {
    position: absolute;
    background-color: #ffc0cb; /* 花びらの色 */
    border-radius: 150% 0 150% 0;
    animation: animate-petal 10s linear;
  }
  
  .petal::after {
    content: "";
    position: absolute;
    top: -14%;
    left: -10%;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffc0cb;
    border-radius: 150% 0 150% 0;
    transform: rotate(15deg);
  }
  
  /* 花びらが降るアニメーション */
  @keyframes animate-petal {
    0% {
      top: 0;
      opacity: 0;
      transform: rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 100vh;
      transform: rotate(3000deg);
    }
  }

