<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <title> {% block title %} フォーム {% endblock %} </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Monomaniac+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/formstyle.css') }}">
        <link rel="icon" type="image/x-icon" href="../static/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon-180x180.png">
        

    </head>

    <body>
        {% if current_user.is_authenticated %}         <!--ログインしていたら-->
            <a href="{{ url_for('auth.logout') }}">ログアウト</a>
        {% endif %}
        {% block content %} 内容 {% endblock %}
    </body>
    
</html>