<!DOCTYPE html>
<html lang="ja">
<head>
    <a href="{{ url_for('puzzle15')}}">スライドパズルへ</a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/style.css') }}">
</head>
<body>
    <header>
        {% block header %}
        <h1>flask game</h1>
        {% endblock %}
    </header>

    {% block content %}
    <div class="cherry-blossom"></div> <!--桜を降らせる為のクラス-->
    {% endblock %}

    {% block footer %}{% endblock %}

    
    <script type="text/javascript" src="{{ url_for('static', filename='../static/scripts/main.js')}}"></script>
</body>
</html>