<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/style.css') }}">
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>


    {% if current_user.is_authenticated %}         <!--ログインしてたら表示-->
        <a href="{{ url_for('auth.logout') }}">ログアウト</a>
    {% endif %}

    
    {% block content %}{% endblock %}

    <footer>
        {% block footer %}
        {% endblock %} 
    </footer> 
</body>
</html>