{% extends "base.html" %}
 
{% block title %}Game Site{% endblock %}

{% block header %}
<header>
    <div class="header_wrapper">
        <h1 class="logo">
            GAME Site.
            <span>たくさん遊べる<br>ゲームサイト</span>
        </h1>
    </div>
</header>



<!-- ナビゲーション -->
<nav>
    <ul>
        <li><a href="#">About</a></li>
        <li class="gnav"><a href="{{ url_for('index')}}">Game</a>
            <ul>
                <li><a href="{{ url_for('puzzle')}}">15パズル</a></li>
                <li><a href="{{ url_for('Shooting')}}">シューティング</a></li>
                <li><a href="{{ url_for('Cards')}}">神経衰弱</a></li>
                <li><a href="{{ url_for('Reversi')}}">オセロ</a></li>
                <li><a href="{{ url_for('Dungeon')}}">迷路</a></li>
                <li><a href="{{ url_for('FunkyBlocks')}}">ブロック</a></li>
                <li><a href="{{ url_for('saturnvoyager')}}">サターンボイジャー</a></li>
                <li><a href="{{ url_for('Jumper')}}">ジャンパー</a></li>
                <li><a href="{{ url_for('CarryIt')}}">荷物運び</a></li>
                <li><a href="{{ url_for('chase')}}">チェイス</a></li>
                <li><a href="{{ url_for('Billiard')}}">ビリヤード</a></li>
                <li><a href="{{ url_for('EggCatch')}}">卵集め</a></li>
                <li><a href="{{ url_for('yasai')}}">ツムツム風</a></li>
            </ul>
        </li>
        <li><a href="{{ url_for('auth.login')}}">Login</a></li>
        <li><a href="{{ url_for('auth.logout')}}">Logout</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="cont">
<div class="container">
    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('puzzle')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/15puzzle/15.png') }}" alt=""><span class="cap">15パズル</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('Shooting')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/shooting/ship.png') }}" alt=""><span class="cap">シューティング</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('Cards')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/Flipcards/icon.png') }}" alt=""><span class="cap">神経衰弱</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('Reversi')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/Reversi/icon.png') }}" alt=""><span class="cap">オセロ</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('Dungeon')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/Dungeon/arrows.png') }}" alt=""><span class="cap">迷路</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('FunkyBlocks')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/Blocks/time0.png') }}" alt=""><span class="cap">ブロック</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('saturnvoyager')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/SaturnVoyager/scope.png') }}" alt=""><span class="cap">サターンボイジャー</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('Jumper')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/jumper/stick0.png') }}" alt=""><span class="cap">ジャンパー</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('CarryIt')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/CarryIt/imgWorker.png') }}" alt=""><span class="cap">荷物運び</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('chase')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/Chase/chase.png') }}" alt=""><span class="cap">チェイス</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('Billiard')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/Billiard/icon.png') }}" alt=""><span class="cap">ビリヤード</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('EggCatch')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/EggCatch/chick.png') }}" alt=""><span class="cap">卵集め</span></span></a></div>
    </div>

    <div class="item">
        <div class="zoomInText"><a href="{{ url_for('yasai')}}"><span class="mask"><img src="{{ url_for('static', filename='../static/images/yasai/yasai0.png') }}" alt=""><span class="cap">ツムツム風</span></span></a></div>
    </div>
</div>
</div>

<div class="cherry-blossom"></div>

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{ url_for('static', filename='../static/scripts/main.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!--自作のJS-->
<script src="../static/scripts/gnav.js"></script>
{% endblock %}