<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python_A</title>
    <link rel="stylesheet" href="../static/css/memo_style.css">
</head>

<body>
    <div class="container">

        <div class="left">
            <div class="header_wrapper">
                <h1 class="logo">
                    GAME Site.
                </h1>
            </div>

            <div class="cont">
                <div class="title">機能・概要</div>
                ゲーム好きの、ゲーム好きによる、ゲーム好きのためのWebアプリです。トップページにずらりと並ぶミニゲームの中からお好きなものを選んでプレイしてください。
            </div>

            <div class="cont">
                <div class="title">こだわり</div>
                まるで"Ste○m"！？ゲーム数やビジュアルに最後までこだわりました。ログイン機能を加え、さらにそれらしく！                
            </div>
            
            <div class="cont">
                <div class="title">苦労したこと</div>
                データベースの利用>><br>
                SQLiteでログイン機能とデータベースの連携を実装した後にMySQLしか使用できないことが発覚。急遽MySQLへ書き換えましたが、残り日数が少なくなっていたので焦りました。また、ランキング機能も設けようとしましたが難易度が高く・・・断念。<br>
                ディレクトリ構成>><br>
                各自が機能追加やコード修正を試行錯誤する中で、ファイルやフォルダの位置関係が崩れて動作不良になったことも。データの整理を行い、ディレクトリ図を作って共通認識を持つことで同様のトラブルが減りました。
            </div>
        </div>

        <div class="right"></div>

    </div>

</body>
</html>