{% extends "base.html" %}
 
{% block title %}GAME{% endblock %}


{% block header %}
<h1>flask game
<nav>
    <ul>
    <li class=”current”><a href=”#”>Home</a></li>
    <li><a href=”#”>game</a></li>
    <li><a href=”#”>About</a></li>
    </ul>
    </nav>
</h1>

<ul>
    <li>
    <a href="{{ url_for('puzzle')}}"><img src="{{ url_for('static', filename='../static/images/15puzzle/15.png') }}"><p>15まで揃えろ</p></a>
    </li>
    <li>
    <a href="{{ url_for('Shooting')}}"><img src="{{ url_for('static', filename='../static/images/shooting/ship.png') }}"><p>シューティングゲーム</p></a>
    </li>
    <li>
    <a href="{{ url_for('Cards')}}"><img src="{{ url_for('static', filename='../static/images/Flipcards/card.png') }}"><p>Cards</p></a>
    </li>
</ul>
<ul>
    <li>
    <a href="{{ url_for('Reversi')}}"><img src="{{ url_for('static', filename='../static/images/Reversi/reversi.png') }}"><p>リバーシ</p></a>
    </li>
    <li>
        <a href="{{ url_for('Dungeon')}}"><img src="{{ url_for('static', filename='../static/images/Dungeon/arrows.png') }}"><p>ダンジョン</p></a>
    </li>
    <li>
        <a href="{{ url_for('FunkyBlocks')}}"><img src="{{ url_for('static', filename='../static/images/Blocks/time0.png') }}"><p>ブロック</p></a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ url_for('saturnvoyager')}}"><img src="{{ url_for('static', filename='../static/images/SaturnVoyager/scope.png') }}"><p>サターンボイジャー</p></a>
    </li>
    <li>
        <a href="{{ url_for('Jumper')}}"><img src="{{ url_for('static', filename='../static/images/jumper/stick0.png') }}"><p>ジャンパー</p></a>
    </li>
    <li>
        <a href="{{ url_for('CarryIt')}}"><img src="{{ url_for('static', filename='../static/images/CarryIt/imgWorker.png') }}"><p>荷物を運ぼう</p></a>
    </li>
</ul>
<ul>
    <li>
    <a href="{{ url_for('chase')}}"><img src="{{ url_for('static', filename='../static/images/Chase/chase.png') }}"><p>チェイス</p></a>
    </li>
    <li>
        <a href="{{ url_for('Billiard')}}"><img src="{{ url_for('static', filename='../static/images/Billiard/billiard.png') }}"><p>ビリヤード</p></a>
    </li>
    <li>
        <a href="{{ url_for('EggCatch')}}"><img src="{{ url_for('static', filename='../static/images/EggCatch/chick.png') }}"><p>エッグキャッチ</p></a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ url_for('yasai')}}"><img src="{{ url_for('static', filename='../static/images/yasai/yasai0.png') }}"><p>ベジタブル</p></a>
    </li>
</ul>

   

{% endblock %}

{% block content %}
<div class="cherry-blossom"></div>

{% endblock %}

{% block footer %}{% endblock %}

