{% extends "base.html" %}
 
{% block title %}GAME{% endblock %}


{% block header %}
<h1>flask game
<nav>
    <ul>
    <li class=”current”><a href=”#”>Home</a></li>
    <li><a href=”#”>game</a></li>
    <li><a href=”#”>About</a></li>
    </ul>
    </nav>
</h1>

<ul>
    <li>
    <a href="{{ url_for('puzzle')}}"><img src="{{ url_for('static', filename='../static/images/15.png') }}"><p>15まで揃えろ</p></a>
    </li>
    <li>
    <a href="{{ url_for('Shooting')}}"><img src="{{ url_for('static', filename='../static/images/ship.png') }}"><p>シューティングゲーム</p></a>
    </li>
    <li>
    <a href="{{ url_for('Cards')}}"><img src="{{ url_for('static', filename='../static/images/card.png') }}"><p>Cards</p></a>
    </li>
</ul>
<ul>
    <li>
    <a href="{{ url_for('Reversi')}}"><img src="{{ url_for('static', filename='../static/images/reversi.png') }}"><p>リバーシ</p></a>
    </li>
    <li>
        <a href="{{ url_for('Dungeon')}}"><img src="{{ url_for('static', filename='../static/images/arrows.png') }}"><p>ダンジョン</p></a>
    </li>
    <li>
        <a href="{{ url_for('FunkyBlocks')}}"><img src="{{ url_for('static', filename='../static/images/time0.png') }}"><p>ブロック</p></a>
    </li>
</ul>
<ul>
    <li>
        <a href="{{ url_for('saturnvoyager')}}"><img src="{{ url_for('static', filename='../static/images/scope.png') }}"><p>サターンボイジャー</p></a>
    </li>
    <li>
        <a href="{{ url_for('Jumper')}}"><img src="{{ url_for('static', filename='../static/images/stick0.png') }}"><p>ジャンパー</p></a>
    </li>
    <li>
        <a href="{{ url_for('CarryIt')}}"><img src="{{ url_for('static', filename='../static/images/imgWorker.png') }}"><p>荷物を運ぼう</p></a>
    </li>
</ul>
<ul>
    <li>
    <a href="{{ url_for('chase')}}"><img src="{{ url_for('static', filename='../static/images/chase.png') }}"><p>チェイス</p></a>
    </li>
</ul>

   

{% endblock %}

{% block content %}
<div class="cherry-blossom"></div>

{% endblock %}

{% block footer %}{% endblock %}

